* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalnia', serif;
 
  
}

.app-container{
    display: flex;
    flex-direction: column;
}
.app-body {
  display: flex;
  min-height: 100vh;
  flex: 1;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-logo div img {
  height: 200px;
}
header .header-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #013b01;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
nav ul li{
  display: flex;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  color: #4b527b;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  width: 200px;
  
}

form, button, p, input{
  font-weight: bold;
}


